name: CI
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Change to CRLF line endings
        run: |
          git config --global core.autocrlf true
          git config --global core.eol crlf

      - uses: actions/checkout@v2

      - name: Install Typescript tools
        uses: bahmutov/npm-install@v1.4.5

      - name: Install Luau tools
        uses: Roblox/setup-foreman@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Format Luau using StyLua
        run: stylua src tests plugin -c --config-path stylua.toml

      - name: Lint Luau using Selene
        run: |
          selene generate-roblox-std
          selene src tests plugin

      - name: Lint Typescript using ESLint
        run: npm run eslint

  test:
    runs-on: windows-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v2

      - name: Install Roblox Studio
        uses: OrbitalOwen/roblox-win-installer-action@1.1
        with:
          cookie: ${{ secrets.ROBLOSECURITY }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Tools
        uses: Roblox/setup-foreman@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build place file
        run: rojo build --output tests/test-place.rbxlx tests/default.project.json

      - name: Run tests
        run: run-in-roblox --place tests/test-place.rbxlx --script tests/test.server.lua
